html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Press Start 2P', 'sans-serif';
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

header {
  position: relative;
  margin-bottom: 200px;
}

h1,
.info-text,
.start-again,
.result-number {
  position: absolute;
}

h1 {
  bottom: 50px;
  left: 290px;
}

.start-again {
  bottom: 170px;
  left: 10px;
}

.info-text {
  bottom: 170px;
  right: 10px;
}
